// BreackPoint
$breackpoint_xxxl: 1920;
$breackpoint_xxl: 1280;
$breackpoint_xl: 1024;
$breackpoint_l: 768;
$breackpoint_m: 480;
$breackpoint_s: 320;

// Common
$maxWidth: 1920;
$maxWidthContainer: 1310;

// Color

// Size