<header class="header">
	<div class="container">
		<!-- Logo -->
		<div class="header__logo-container">
			<a href="#">
				<img
					class="header__logo"
					src="assets/img/icons/logo.png"
					alt="logo"
				/>
			</a>
			<span class="header__logo-title">WordPress интенсив</span>
		</div>
		<!-- Description -->
		<div class="header__descr">
			<h1 class="header__descr-title">Создать свой сайт на WordPress</h1>
			<h2 class="header__descr-subtitle">это просто!</h2>
			<h3 class="header__descr-text">
				Куда сложнее сделать это правильно!
			</h3>
		</div>
		<!-- Info -->
		<p class="header__lead">
			Ежедневно в России появляется более 5 000 новых сайтов. <br />
			И только единицы из них становятся популярными и приносят ощутимую
			прибыль. В чем секрет? В чем формула успеха? Узнайте на предстоящем
			двухдневном <strong>БЕСПЛАТНОМ</strong> интенсиве!
		</p>

		<!-- Link -->
		<a class="header__link btn" href="">Записаться на интенсив!</a>

		<!-- More info -->
		<div class="header__more-info">
			<span class="header__more-title">узнать больше об интенсиве</span>
			<a class="header__more-arrow" href="#">
				<img src="assets/img/icons/down_btn.png" alt="arrow">
			</a>
		</div>
	</div>
</header>
