<main class="main">
	<!-- About -->
	<section class="about">
		<div class="container">
			<!-- Description -->
			<div class="about__descr">
				<h3 class="about__descr-title">
					Что вас ждет в нашем интенсиве?
				</h3>
				<h4 class="about__descr-subtitle">
					2 бесплатных полноценных обучающих вебинара, где:
				</h4>
			</div>

			<!-- Items -->
			<div class="about__items">
				<ul class="about__list">
					<li class="about__item">
						<img
							class="about__img"
							src="assets/img/icons/second_1.png"
							alt="second1"
						/>
						<p class="about__subtitle">
							Всего за два бесплатных вебинара мы научим вас, как
							создать свой сайт на WordPress.
						</p>
					</li>
					<li class="about__item">
						<img
							class="about__img"
							src="assets/img/icons/second_2.png"
							alt="second2"
						/>
						<p class="about__subtitle">
							Покажем, как правильно оптимизировать сайт и сделать
							его привлекательным для поисковых систем. Только
							свежая, профессиональная и актуальная информация!
						</p>
					</li>
					<li class="about__item">
						<img
							class="about__img"
							src="assets/img/icons/second_3.png"
							alt="second3"
						/>
						<p class="about__subtitle">
							Вы узнаете, что такое «хорошая индексация», «высокая
							посещаемость», «стабильный прирост посетителей»,
							«ТОП по запросам» и, что намного важнее, как
							добиться всех этих показателей!
						</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- Info -->
	<section class="info">
		<div class="container">
			<div class="info__container">
				<img
					class="info__img"
					src="assets/img/icons/layer_15_82.png"
					alt="qirl"
				/>
				<div class="info__descr">
					<h3 class="info__title">
						Что такое оптимизация и зачем она нужна?
					</h3>
					<p class="info__subtitle">
						На просторах интернета несчетное количество действующих
						и даже заброшенных сайтов. Большинство из них совпадает
						не только по категориям, но и по содержанию. <br />
						<br />
						Представьте себе тысячи сайтов, на которых тем или иным
						образом предоставляется одна и та же информация или
						продается одна и та же услуга. И попасть на эти сайты
						можно лишь по тематическим запросам в поисковых
						системах. <br />
						<br />
						Но как вам быть, если ваш сайт похож на сотню или тысячу
						таких же, а на одной странице гугла или яндекса всего 10
						позиций? Как привести посетителей страницы своего
						ресурса? Именно для этого и нужна оптимизация – для
						вывода вашего сайта на первую страницу поиска! <br />
						<br />
						<strong class="info__notes">
							Мы научим вас, как сделать ваш сайт привлекательным
							для поисковых систем и посоветуем, как вывести его
							на первые страницы, обходя всех конкурентов.
						</strong>
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Learn -->
	<section class="learn">
		<div class="container">
			<h3 class="learn__text">По окончании обучения Вы сможете!</h3>
			<ul class="learn__list">
				<li class="learn__item">
					<div class="learn__box">
						<img
							class="learn__img"
							src="assets/img/icons/layer_22_140.png"
							alt="icon"
						/>
					</div>
					<p class="learn__subtitle">Создать свой сайт или блог</p>
				</li>
				<li class="learn__item">
					<div class="learn__box">
						<img
							class="learn__img"
							src="assets/img/icons/layer_24_142.png"
							alt="icon"
						/>
					</div>

					<p class="learn__subtitle">Правильно его оптимизировать</p>
				</li>
				<li class="learn__item">
					<div class="learn__box">
						<img
							class="learn__img"
							src="assets/img/icons/layer_31_149.png"
							alt="icon"
						/>
					</div>

					<p class="learn__subtitle">
						Обеспечить ему медленный, но верный рост в ТОП
					</p>
				</li>
				<li class="learn__item">
					<div class="learn__box">
						<img
							class="learn__img"
							src="assets/img/icons/layer_25_143.png"
							alt="icon"
						/>
					</div>

					<p class="learn__subtitle">Получать ощутимую прибыль</p>
				</li>
				<li class="learn__item">
					<div class="learn__box">
						<img
							class="learn__img"
							src="assets/img/icons/layer_29_147.png"
							alt="icon"
						/>
					</div>

					<p class="learn__subtitle">
						Достигнуть стабильного прироста посетителей
					</p>
				</li>
			</ul>
		</div>
	</section>

	<!-- Gift -->

	<section class="gift">
		<div class="container">
			<div class="gift__container">
				<img
					class="gift__img"
					src="assets/img/icons/Layer 36.png"
					alt="gift"
				/>
				<h3 class="gift__text">
					Для всех участников интенсива предусмотрены бонусы и
					подарки. Нажимайте на кнопку ниже, принимайте участие в
					вебинарах и забирайте свой приз по окончании обучения!
				</h3>
				<a class="gift__link btn" href="">Записаться на интенсив!</a>
			</div>
		</div>
	</section>

	<!-- Webinar -->
	<section class="webinar">
		<div class="container">
			<div class="webinar__container">
				<img
					class="webinar__img"
					src="assets/img/icons/Layer 20.png"
					alt="webinar"
				/>
				<h3 class="webinar__title">Первый вебинар состоится:</h3>
				<h4 class="webinar__subtitle">10 сентября в 20:00 по Москве</h4>
				<h4 class="webinar__text">
					Успейте записаться, количество мест ограничено!
				</h4>
			</div>
		</div>
	</section>
</main>
